<nav class="navbar navbar-expand-lg navbar-light" style="background-color: darkslategray;">
    <div class="container-fluid">
      <div class="nav justify-content-center" style="color: white;">
        <h2>G-CLICKS</h2>
      </div>

      <a href="cart.html" class="btn btn-secondary" id="cart">
        <i class="fa fa-shopping-cart"></i> My Cart
      </a>
     </div> 
  </nav>



  <nav class="navbar navbar-expand-lg navbar-light bg-white border">
        
        
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
       
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 100px;">
            MEN
          </a>
          <div class="dropdown-menu" class="col-sm-3" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Smart Watches</a>
            <a class="dropdown-item" href="#">Stainless Steel Watches</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Leather Watches</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 100px;">
            WOMEN
          </a>
          <div class="dropdown-menu" class="col-sm-3" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Smart Watches</a>
            <a class="dropdown-item" href="#">Stainless Steel Watches</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Leather Watches</a>
          </div>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right: 100px;">
            Smart Watches
          </a>
          <div class="dropdown-menu" class="col-sm-3" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Smart Watches</a>
            <a class="dropdown-item" href="#">Stainless Steel Watches</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Leather Watches</a>
          </div>
        </li>
        
      </ul>
     
    </div>
  </nav>